
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(135deg, #9b3b32, #4d0200);
  }
  .body_index{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    background: linear-gradient(135deg, #9b3b32, #4d0200);
  }
  
  .content{

    display: flex;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.50);
  }
  .titel
  {
    margin-bottom: 36px;
  }

 .input-box{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .button{
    display: flex;
    width: 80%;
    margin: 13px 60px;
    justify-content: space-between;
  }
.button input{
    height: 100%;
    width: 44%;
    
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #9b3b32, #4d0200);
  }